RAILS_ENV=development
RACK_ENV=development
RAILS_PORT=3100
VITE_PORT=3036

POSTGRES_USER=litera
POSTGRES_PASSWORD=litera_password
POSTGRES_DB=litera_development
POSTGRES_PORT=5432
DATABASE_URL=postgres://litera:litera_password@postgres:5432/litera_development
